.feedback-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.feedback-container .fa-arrow-left {
  position: absolute;
  background-color: #0084ff;
  top: 50px;
  color: white;
  width: 50px;
  height: 50px;
  place-content: center;
  border-radius: 50%;
  left: 50px;
}

.feedback-container h1 {
  margin-bottom: 15px;
}

/* Stars */
.feedback-container .stars {
  font-size: 30px;
  margin-bottom: 15px;
}

.feedback-container .stars span {
  cursor: pointer;
  color: #ccc;
}

.feedback-container .stars span.active {
  color: #ffc107;
}

/* Textarea */
.feedback-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 15px;
}

/* Button */
.feedback-container button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-container button:hover {
  opacity: 0.9;
}
