.register-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
}
.register-page {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-image: url("/36190382_8312083.jpg");
  /* background: rgba(0, 0, 0, 0.4); */
}
.register-container h1 {
  margin-bottom: 20px;
  color: #ff8686;
  font-family: "Dancing Script", cursive;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Button */
.register-form button {
  margin-top: 10px;
  padding: 10px;
  background: #ff8686;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.register-form button:hover {
  opacity: 0.9;
}

/* Login link */
.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link span {
  color: #ff5f5f;
  cursor: pointer;
}
