.feedback-list-container {
  padding: 25px;
  font-family: Arial, sans-serif;
}

.feedback-list-container h1 {
  margin-bottom: 20px;
  margin-left: 20vw;
}
/* Cards container */
.feedback-list-container .feedback-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-left: 20vw;
}

/* Card */
.feedback-list-container .feedback-card {
  background: white;
  padding: 15px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.user-msg {
  background-color: #e4e4e4;
  width: 70%;
  padding: 10px;
}
.user-msg .feedback-card {
  width: 700px;
  max-width: 800px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.feedback-list-container .feedback-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.feedback-list-container .email {
  font-weight: bold;
  font-size: 14px;
}

.feedback-list-container .stars {
  color: #ffc107;
  font-size: 16px;
}

.feedback-list-container .message {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

/* Delete button */
.feedback-list-container .delete {
  padding: 6px 12px;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-list-container .delete:hover {
  opacity: 0.9;
}
