.product-card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  /* display: flex; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.product-card .product-info {
  padding: 15px;
  display: grid;
  gap: 10px;
}

.product-card .type {
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
}

.product-card .product-info h2 {
  font-size: 18px;
  margin: 5px 0;
}

.product-card .price {
  color: #28a745;
  font-size: 20px;
  font-weight: bold;
}

.product-card .product-info p {
  margin: 4px 0;
  font-size: 14px;
}

/* Buttons */
.product-card .btn-group {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.product-card .btn-group button {
  flex: 1;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

.product-card .cart {
  background-color: #007bff;
}

.product-card .buy {
  background-color: #ff5722;
}

.product-card .btn-group button:hover {
  opacity: 0.9;
}
