.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  /* box-sizing: border-box; */
  position: fixed;
  margin-top: -50px;
  /* margin-bottom: 20px; */
}

/* Logo */
.sidebar .logo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

/* Menu */
.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar .menu li {
  padding: 12px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

.sidebar .menu li:hover {
  background-color: #343454;
}

.sidebar .logout {
  margin-top: 30px;
  background-color: #dc3545;
}

.sidebar .logout:hover {
  background-color: #b52a37;
}
