.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  /* padding: 0; */
  background-image: url("/36190382_8312083.jpg");
  background-size: cover;
}
.login-box {
  width: 300px;
  padding: 25px;
  background-color: white;
  /* background: #936464; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff8a8a;
  font-family: "Dancing Script", cursive;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #ff8a8a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #ff6363;
}

.register-text {
  text-align: center;
  margin-top: 15px;
}

.register-text a {
  color: #ff6060;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
