.cart-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  background-color: #f5f5f5;
}

.cart-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.qty button {
  padding: 4px 8px;
  margin: 0 6px;
}

.remove {
  background-color: red;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}
.cart-total {
  background-color: rgb(228, 242, 255);
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}
.checkout {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(58, 150, 255);
  border: none;
  color: white;
}
