.userhome-home {
  font-family: Arial, sans-serif;
  /* background-color: #ff4d4d; */
}

/* Heading */
.userhome-main-title {
  text-align: center;
  margin: 20px 0;
}

/* Flex links */
.userhome-nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* width: 100rem; */
  /* margin-left: 0; */
  margin: auto;
  margin-bottom: 20px;
  /* background-color: #316df1;s */
  /* color: white; */
  padding: 10px 40px;
  border-radius: 10px;
}

.userhome-nav-links h2 {
  cursor: pointer;
  font-size: 18px;
}

.userhome-nav-links h2:hover {
  color: #ff4d4d;
}

/* Hero section */
.userhome-hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.userhome-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content on image */
.userhome-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  background: rgba(0, 0, 0, 0.449);
  padding: 20px 30px;
  border-radius: 8px;
}

.userhome-hero-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ff4d4d;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
}

.userhome-hero-content button:hover {
  background-color: #e63939;
}
