.home {
  font-family: Arial, sans-serif;
}

/* Heading */
.main-title {
  text-align: center;
  margin: 20px 0;
}

/* Flex links */
.nav-links {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 200px;
  height: 100vh;
  right: 0px;
  justify-content: start;
  padding: 30px;
  gap: 40px;
  display: none;
  position: absolute;
  z-index: 1;
  /* margin-bottom: 20px; */
}
.home .open {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 200px;
  height: 80vh;
  right: 0px;
  justify-content: start;
  padding: 30px;
  gap: 20px;
  font-size: 16px !important;
  /* display: block; */
  position: absolute;
  z-index: 1;
}
.home h1,
.hero-content h2,
.hero-content p {
  font-family: "Dancing Script", cursive;
}
.home .fa-bars {
  position: absolute;
  right: 40px;
  font-size: 20px;
  top: 26px;
}
.home .open h2 {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-links h2 {
  cursor: pointer;
  font-size: 10px;
}

.nav-links h2:hover {
  color: #ff4d4d;
}
.open i {
  color: #ff8484;
}
/* Hero section */
.hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content on image */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
  border-radius: 8px;
}

.hero-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.hero-content button:hover {
  background-color: #e63939;
}
